<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script
  src="http://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Registration Page</title>
<style type="text/css">
	  h1{
	  	font-family: 'Fresca', sans-serif;
	  }
	  label{
	  	font-family: 'Fresca', sans-serif;
	  }
	  
	  #signUpForm{
	  	position: fixed;
	  	left: 580px;
	  }
	  
	  #signUpContainer{
	  	left: 480px;


	  }
	 
	  </style>
	  <script type="text/javascript">

	  function validatePassword() {
      var password_js = document.getElementById("password"),
      confirm_password = document.getElementById("password_confirmation");
      //alert("ajinkya wakjale");

      if (password_js.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }</script>
</head>
<body ng-app = "myApp" ng-controller="SignUpController">
<br>
<br>	
<h1 align="center">Sparksoft Corporation </h1>
<br>
<br>
<div class= "container" id = "signupContainer">
<form role="registerForm" id="registerForm" ng-submit="submitMysignupForm()">

                  <!--First Name Input -->
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" ng-model="fields.first_name" required>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" name="middle_name" id="Middle_name" class="form-control input-sm" placeholder="Middle Name" ng-model="fields.middle_name">
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" ng-model="fields.last_name" required>
                      </div>
                    </div>

                  </div>
                  <!--First row closed -->

                  <div class="row">
                    <div class="col-md-6">
                      <!-- Email & Password input -->
                      <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="fields.email" required>
                      </div>
                    </div>
                  </div>
                  <!--Second row closed -->


                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="fields.password" required>
                      </div>


                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" required>
                      </div>
                    </div>

                  </div>


                  <!--Phone Number Input -->
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="phone_number" id="phoneNumber" class="form-control input-sm" placeholder="Phone Number" ng-model="fields.phone_primary" required> 
                      </div>
                    </div>
                  </div>
                  <!--Fifth row closed -->
                  <br>

                  <!--Date of Birth Input -->
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="age" id="age" class="form-control input-sm" placeholder="Age" ng-model="fields.age"> 
                      </div> 
                    </div>
                  </div>  
                  <!--Sixth row closed -->
                  <br>
                  <div class="row">
                    <div class="col-md-5">
                      <input type="submit" value="Register" class="btn btn-info btn-block" >
                    </div>
                    <div class = "col-md-5">
                        <a href="/index.html" id="cancel" name="cancel" class="btn btn-info btn-block">Cancel</a>

                </div>
                  </div>
                                  


                </form>


</div>

















</body>




</html>